<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="../js/index.js" defer=""></script> -->
    <title>JukeBox</title>
</head>
<body>
    
    <script>
    function start(){
        document.getElementById("test1").style.color = "blue";
    }
    window.onload = start;
    </script>







    <h1 id="test1">YOOO</h1>
    <button onclick="start();">click</button>
</body>
</html>